/*-------------------------------- Animations --------------------------------*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

#currImg {
    z-index: 1;
}

#nextImg {
    z-index: -1;
}

/*------------------------------- Navigation Bar -------------------------------*/
.navbar-container {
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    width: 100%;
    height: 4.5rem;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 10;
}

.navbar-logo img {
    display: flex;
    width: 8rem;
    margin-left: 3rem;
    cursor: pointer;
}

.navbar-container a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.btn-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.btn-container a {
    font-size: 18px;
    color: #E1B87A;
    transition: color 0.5s;
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 8rem;
    margin-right: 3rem;
    background-color: #E1B87A;
    transition: box-shadow 0.7s;
}

.reg-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0.9em;
    border: 2px solid black;
    transition: border-color 0.7s, color 0.7s;
}

.reg-container:hover {
    box-shadow: 0 0 50px #E1B87A;
}

.reg-container:hover .reg-inner {
    border-color: white;
    color: white;
}

.mobile-nav-btn {
    display: none;
    margin-right: 1rem;
}

.mobile-nav-btn img {
    width: 2.5rem;
    height: 2.5rem;
}

.mobile-navbar-container {
    display: none;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background: black;
    width: 100%;
    padding-top: 4.5rem;
    border-bottom: 3px solid #E1B87A;
    z-index: 5;
}

.mobile-navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8rem 0rem;
    text-decoration: none;
    color: #E1B87A;
}

.mobile-navbar-container a:active {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.mobile-navbar-container .reg-container {
    margin: 0rem 1rem;
    width: max(30rem);
    padding: 0rem 0.5rem;
}

.mobile-navbar-container .reg-container .reg-inner {
    width: 100%;
    color: black;
}

.mobile-navbar-container a:active .reg-inner {
    border-color: white;
    color: white;
}

.txt-highlight a:hover {
    color: white;
}

.txt-pressed a:active {
    color: white;
}

/*----------------------------------- Footer -----------------------------------*/
.footer-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    height: 10rem;
    width: 100%;
    border-top: 3px solid #E1B87A;
    background-color: black;
}

.footer-content-container {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 10rem;
    height: auto;
    padding-right: 1rem;
    padding-left: 2rem;
}

.footer-logo img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.footer-link-container {
    display: flex;
    gap: 1rem;
}

.footer-link-container a {
    color: #E1B87A;
    text-decoration: none;
    transition: color 1s;
}

.footer-social-container {
    display: flex;
    justify-content: space-between;
    width: 7rem;
    height: auto;
    padding-right: 2rem;
    padding-left: 4rem;
}

.footer-social-container img {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.footer-copy-container {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1B87A;
}

.footer-copy-container p {
    font-size: 12px;
    color: black;
}

/*-------------------------------- Default View --------------------------------*/
/*--------------------------------- Class Page ---------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    -webkit-tap-highlight-color: transparent;
}

.bg-img {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -3;
    background-color: black;
}

.bg-img img {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.2;
}

.bg-img video {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 1;
}

.class-display-container {
    display: grid;
    grid-template-columns: 94% 6%;
    grid-template-rows: 60% 5% 35%;
    height: 100vh;
    width: 100%;
}

.class-select-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 2;
}

input {
    display: none;
}

.class-btn-container {
    aspect-ratio: 1/1;
    width: 60%;
    background-color: black;
    border: 2px solid #E1B87A;
    text-shadow: 0px 0px 3px #E1B87A;
    cursor: pointer;
    filter: grayscale(1);
    transition: all 0.3s;
}

.class-btn-container:hover {
    filter: grayscale(0);
    transform: scale(1.2);
}

input:checked + .class-btn-container {
    cursor: default;
    filter: grayscale(0);
    transform: scale(1.2);
}

.class-img-container {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    mask-image: linear-gradient(to bottom, transparent, black 5%, black 85%, transparent 100%);
}

.class-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
}

.class-info-container {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 2.5em;
    padding: 1em 5em 0em 5em;
    color: #E1B87A;
    font-size: clamp(0.65em, 0.95vw, 1.5rem);
    z-index: 1;
}

.class-info-container img {
    aspect-ratio: 1/1;
    width: clamp(10rem, 17vw, 20rem);
}

.info-text-container {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.class-name {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #E1B87A;
}

.class-desc {
    margin: 0;
    width: 70%;
    font-size: 1.5em;
    text-shadow: 0px 0px 3px #E1B87A;
}

/*--------------------------------- Misc View ---------------------------------*/
@media only screen and (max-width: 950px) {
    /*--------- Footer ---------*/
    .footer-logo {
        width: 8rem;
    }
    
    .footer-link-container {
        gap: 0.5rem;
    }
    
    .footer-link-container a {
        font-size: 14px;
    }
    
    .footer-social-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .footer-social-container img {
        width: 1.5rem;
        height: 1.5rem;
    }
    /*--------------------------*/

}

/*-------------------------------- Tablet View --------------------------------*/
@media only screen and (max-width: 840px) {
    /*--------- Nav Bar ---------*/
    .navbar-container {
        background: linear-gradient(to bottom, black, transparent);
    }
    
    .navbar-logo img {
        width: 10rem;
        margin-left: 1rem;
    }
    
    .btn-container, .navbar-container .reg-container {
        display: none;
    }

    .mobile-nav-btn {
        display: flex;
    }

    .mobile-navbar-container {
        display: flex;
        transform: translateY(-100%);
        transition: transform 0.5s;
    }

    .mobile-navbar-container[data-visible="true"] {
        transform: translateY(0%);
    }
    /*---------------------------*/
    
    /*--------- Footer ---------*/
    .footer-container {
        grid-template-rows: 85% 15%;
        height: 15rem;
    }
    
    .footer-content-container {
        flex-direction: column;
    }
    
    .footer-logo {
        width: 14rem;
        padding: 1rem 0rem 1rem 0rem;
    }
    
    .footer-link-container {
        gap: 0.85rem;
    }
    
    .footer-link-container a {
        font-size: 13px;
    }
    
    .footer-social-container {
        width: 9rem;
        padding: 0rem 0rem 1rem 0rem;
    }
    
    .footer-social-container img {
        width: 2rem;
        height: 2rem;
    }
    /*---------------------------*/

    .class-display-container {
        grid-template-columns: 100%;
        grid-template-rows: 10% 8% 42% 5% 35%;
    }
    
    .class-select-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        flex-direction: row;
        gap: 2rem;
    }
    
    .class-btn-container {
        aspect-ratio: 1/1;
        width: auto;
        height: 80%;
    }
    
    .class-btn-container:hover {
        transform: scale(1.1);
    }
    
    input:checked + .class-btn-container {
        transform: scale(1.1);
    }
    
    .class-img-container {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }
    
    .class-info-container {
        grid-column: 1 / 2;
        grid-row: 4 / 6;
    }
    
    .info-text-container {
        gap: 1.5em;
    }

}

/*-------------------------------- Phone View --------------------------------*/
@media only screen and (max-width: 420px) {
    .class-display-container {
        grid-template-rows: 10% 6% 44% 5% 35%;
    }

    .class-info-container {
        padding: 1em 0em 0em 0em;
        flex-direction: column;
        align-items: center;
    }

    .class-name {
        text-align: center;
        width: 100%;
    }
    
    .class-desc {
        text-align: center;
        width: 90%;
        padding: 0rem 5%;
    }
}