/*------------------------------- Navigation Bar -------------------------------*/
.navbar-container {
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    width: 100%;
    height: 4.5rem;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 10;
}

.navbar-logo img {
    display: flex;
    width: 8rem;
    margin-left: 3rem;
    cursor: pointer;
}

.navbar-container a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.btn-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.btn-container a {
    font-size: 18px;
    color: #E1B87A;
    transition: color 0.5s;
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 8rem;
    margin-right: 3rem;
    background-color: #E1B87A;
    transition: box-shadow 0.7s;
}

.reg-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0.9em;
    border: 2px solid black;
    transition: border-color 0.7s, color 0.7s;
}

.reg-container:hover {
    box-shadow: 0 0 50px #E1B87A;
}

.reg-container:hover .reg-inner {
    border-color: white;
    color: white;
}

.mobile-nav-btn {
    display: none;
    margin-right: 1rem;
}

.mobile-nav-btn img {
    width: 2.5rem;
    height: 2.5rem;
}

.mobile-navbar-container {
    display: none;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background: black;
    width: 100%;
    padding-top: 4.5rem;
    border-bottom: 3px solid #E1B87A;
    z-index: 5;
}

.mobile-navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8rem 0rem;
    text-decoration: none;
    color: #E1B87A;
}

.mobile-navbar-container a:active {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.mobile-navbar-container .reg-container {
    margin: 0rem 1rem;
    width: max(30rem);
    padding: 0rem 0.5rem;
}

.mobile-navbar-container .reg-container .reg-inner {
    width: 100%;
    color: black;
}

.mobile-navbar-container a:active .reg-inner {
    border-color: white;
    color: white;
}

.txt-highlight a:hover {
    color: white;
}

.txt-pressed a:active {
    color: white;
}

/*----------------------------------- Footer -----------------------------------*/
.footer-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    height: 10rem;
    width: 100%;
    border-top: 3px solid #E1B87A;
    background-color: black;
}

.footer-content-container {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 10rem;
    height: auto;
    padding-right: 1rem;
    padding-left: 2rem;
}

.footer-logo img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.footer-link-container {
    display: flex;
    gap: 1rem;
}

.footer-link-container a {
    color: #E1B87A;
    text-decoration: none;
    transition: color 1s;
}

.footer-social-container {
    display: flex;
    justify-content: space-between;
    width: 7rem;
    height: auto;
    padding-right: 2rem;
    padding-left: 4rem;
}

.footer-social-container img {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.footer-copy-container {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1B87A;
}

.footer-copy-container p {
    font-size: 12px;
    color: black;
}

/*-------------------------------- Default View --------------------------------*/
/*---------------------------------- Home Page ----------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    -webkit-tap-highlight-color: transparent;
}

.home_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bg {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: -1;
}

.bg-img {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
}

.bg-video {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.scroll-container {
    width: 100%;
    height: 100vh;
    opacity: 1;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 100vh;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.video-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    margin: 0% 10%;
}

.academy-name {
    margin-top: 2rem;
    height: auto;
    width: 100%;
}

.academy-slogan {
    text-align: center;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    width: 100%;
    margin: 0rem;
    padding-bottom: 0.5rem;
    color: #E1B87A;
    text-shadow: 0px 0px 3px #E1B87A;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: clamp(1.5rem, 2vw, 3.3rem);
    height: fit-content;
    width: 100%;
    gap: 3rem;
    padding-bottom: 5em;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, #0c0c0c 6%, #0c0c0c 95%, transparent 100%);
}

.about-container-mask {
    position: absolute;
    display: flex;
    align-items: start;
    width: 100%;
    -webkit-mask-image: linear-gradient(transparent 0%, #0c0c0c 6%, #0c0c0c 95%, transparent 100%);
    mask-image: linear-gradient(transparent 0%, #0c0c0c 6%, #0c0c0c 95%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    filter: opacity(0.75);
}

.about-container-mask img {
    height: 32.25rem;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.emblem-slogan-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

.emblem-slogan-container .academy-slogan {
    padding-bottom: 0rem;
    font-size: inherit;
    color: #E1B87A;
    text-shadow: 0px 0px 3px #E1B87A;
}

.academy-emblem {
    height: auto;
    width: 20rem;
}

.academy-intro {
    margin: 0 1rem;
    max-width: 80rem;
    color: #E1B87A;
    font-size: 0.55em;
    text-align: center;
    word-spacing: 0.3em;
    line-height: 2rem;
    text-shadow: 0px 0px 3px #E1B87A;
}

.facility-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content:space-evenly;
    padding: 2rem;
    color: #E1B87A;
    font-size: clamp(0.65rem, 0.95vw, 1.5rem);
    word-spacing: 0.3em;
    line-height: 1.6em;
    text-shadow: 0px 0px 3px #E1B87A;
}

.facility-container img {
    aspect-ratio: 16/9;
    height: auto;
    width: 35vw;
    border: 4px solid #E1B87A;
    box-shadow: 0px 0px 3px #E1B87A;
}

.fac-info-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
}

.fac-title {
    font-size: 2.5em;
    margin: 0;
}

.fac-desc {
    font-size: 1em;
    margin: 0;
}

.facility-right {
    flex-direction: row-reverse;
}

.facility-left {
    flex-direction: row;
}

#facility-title {
    justify-content: center;
    align-items: center;
    font-size: clamp(3rem, 5vw, 7rem);
    margin: 0;
}

.page-portal-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 50% 5% 35%;
    height: 100vh;
    width: 100%;
    margin-bottom: 5rem;
    overflow-x: visible;
}

#page-left {
    direction: rtl;
}

.page-bg-container {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 60%, transparent 100%);
}

.page-bg-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-thumbnail-container {
    position: relative;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    z-index: 1;
}

.page-thumbnail-container img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
    object-fit: cover;
    object-position: right;
    overflow: visible;
}

#location .page-thumbnail-container {
    display: none;
}

#page-left .page-thumbnail-container img {
    right: auto;
    left: 0px;
    object-position: left;
    transform: scaleX(-1);
}

.page-info-container {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
    color: #E1B87A;
    font-size: clamp(0.65rem, 0.95vw, 1.5rem);
    word-spacing: 0.3em;
    line-height: 2em;
    text-align: center;
    z-index: 2;
}

.page-info-container a {
    text-decoration: none;
    width: fit-content;
}

#location .page-info-container {
    grid-column: 1 / 3;
}

.page-title {
    font-size: clamp(3rem, 5vw, 7rem);
    margin: 1rem 0rem;
    text-shadow: 0px 0px 5px #E1B87A;
}

.page-desc {
    font-size: 1.5em;
    margin: 0;
    text-shadow: 0px 0px 3px #E1B87A;
    /* text-wrap: nowrap; */
}

.page-navigate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 0px 0px 0px black;
    background-color: #E1B87A;
    transition: box-shadow 0.7s;
}

.page-navigate-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em 2em;
    border: 2px solid black;
    color: black;
    transition: border-color 0.7s, color 0.7s;
}

.page-navigate-btn:hover {
    box-shadow: 0 0 50px #E1B87A;
}

.page-navigate-btn:hover .page-navigate-inner {
    border-color: white;
    color: white;
}

.join-portal-container {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: clamp(0.65rem, 0.95vw, 1.5rem);
}

.join-display-container {
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #E1B87A;
    border: 5px solid #E1B87A;
    background-color: black;
}

.join-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.3;
}

.join-portal-container h1 {
    font-size: 5em;
    margin: 0;
    text-shadow: 0px 0px 5px #E1B87A;
    z-index: 1;
}

.join-portal-container p {
    font-size: 1.5em;
    text-align: center;
    padding: 0rem 1rem;
    margin: 0;
    text-shadow: 0px 0px 3px #E1B87A;
    z-index: 1;
}

.join-portal-container a {
    text-decoration: none;
    width: fit-content;
    z-index: 1;
}

/*--------------------------------- Misc View ---------------------------------*/
@media only screen and (max-width: 950px) {
    /*--------- Footer ---------*/
    .footer-logo {
        width: 8rem;
    }
    
    .footer-link-container {
        gap: 0.5rem;
    }
    
    .footer-link-container a {
        font-size: 14px;
    }
    
    .footer-social-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .footer-social-container img {
        width: 1.5rem;
        height: 1.5rem;
    }
    /*--------------------------*/

    .page-thumbnail-container img {
        width: 100%;
        object-position: center;
    }

    #page-left .page-thumbnail-container img {
        width: 100%;
        object-position: center;
    }
}


/*-------------------------------- Tablet View --------------------------------*/
@media only screen and (max-width: 840px) {
    /*--------- Nav Bar ---------*/
    .navbar-container {
        background: linear-gradient(to bottom, black, transparent);
    }
    
    .navbar-logo img {
        width: 10rem;
        margin-left: 1rem;
    }
    
    .btn-container, .navbar-container .reg-container {
        display: none;
    }

    .mobile-nav-btn {
        display: flex;
    }

    .mobile-navbar-container {
        display: flex;
        transform: translateY(-100%);
        transition: transform 0.5s;
    }

    .mobile-navbar-container[data-visible="true"] {
        transform: translateY(0%);
    }
    /*---------------------------*/
    
    .footer-container {
        grid-template-rows: 85% 15%;
        height: 15rem;
    }
    
    .footer-content-container {
        flex-direction: column;
    }
    
    .footer-logo {
        width: 14rem;
        padding: 1rem 0rem 1rem 0rem;
    }
    
    .footer-link-container {
        gap: 0.85rem;
    }
    
    .footer-link-container a {
        font-size: 13px;
    }
    
    .footer-social-container {
        width: 9rem;
        padding: 0rem 0rem 1rem 0rem;
    }
    
    .footer-social-container img {
        width: 2rem;
        height: 2rem;
    }

    .video-title {
        margin: 0 5%;
    }

    .expl_btn {
        font-size: 2vw;
    }

    .expl_btn_container {
        height: 5vw;
        width: 15vw;
    }

    .facility-container {
        gap: 1rem;
        justify-content: start;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    
    .facility-container img {
        width: 90vw;
    }
    
    .facility-right {
        flex-direction: column;
    }
    
    .facility-left {
        flex-direction: column;
    }
    
    .page-portal-container {
        grid-template-columns: 30% 70%;
        grid-template-rows: 10% 50% 5% 35%;
        height: 80vh;
        margin-bottom: 0rem;
    }
    
    #page-left {
        direction: rtl;
    }
    
    .page-bg-container {
        grid-row: 2 / 3;
    }
    
    .page-thumbnail-container {
        grid-row: 1 / 4;
    }
    
    .page-thumbnail-container img {
        bottom: auto;
        top: 0px;
        width: auto;
    }
    
    #page-left .page-thumbnail-container img {
        width: auto;
    }
    
    .page-info-container {
        grid-column: 1 / 3;
        justify-content: start;
        gap: 3em;
        align-items: center;
        padding-left: 0em;
    }
    
    .page-title {
        margin: 0.5rem 0rem;
    }
    
    .page-desc {
        font-size: 1.3em;
    }
}

/*-------------------------------- Phone View --------------------------------*/
@media only screen and (max-width: 420px) {

    .expl_btn {
        font-size: 5vw;
    }
    
    .expl_btn_container {
        height: 13vw;
        width: 40vw;
    }

    .page-portal-container {
        overflow-x: hidden;
    }

    .page-title {
        font-size: clamp(2rem, 5vw, 7rem);
        margin: 0.5rem 0rem;
    }
    
    .page-desc {
        font-size: 1em;
    }
}