/*------------------------------- Navigation Bar -------------------------------*/
.navbar-container {
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    width: 100%;
    height: 4.5rem;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 10;
}

.navbar-logo img {
    display: flex;
    width: 8rem;
    margin-left: 3rem;
    cursor: pointer;
}

.navbar-container a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.btn-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.btn-container a {
    font-size: 18px;
    color: #E1B87A;
    transition: color 0.5s;
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 8rem;
    margin-right: 3rem;
    background-color: #E1B87A;
    transition: box-shadow 0.7s;
}

.reg-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0.9em;
    border: 2px solid black;
    transition: border-color 0.7s, color 0.7s;
}

.reg-container:hover {
    box-shadow: 0 0 50px #E1B87A;
}

.reg-container:hover .reg-inner {
    border-color: white;
    color: white;
}

.mobile-nav-btn {
    display: none;
    margin-right: 1rem;
}

.mobile-nav-btn img {
    width: 2.5rem;
    height: 2.5rem;
}

.mobile-navbar-container {
    display: none;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background: black;
    width: 100%;
    padding-top: 4.5rem;
    border-bottom: 3px solid #E1B87A;
    z-index: 5;
}

.mobile-navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8rem 0rem;
    text-decoration: none;
    color: #E1B87A;
}

.mobile-navbar-container a:active {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.mobile-navbar-container .reg-container {
    margin: 0rem 1rem;
    width: max(30rem);
    padding: 0rem 0.5rem;
}

.mobile-navbar-container .reg-container .reg-inner {
    width: 100%;
    color: black;
}

.mobile-navbar-container a:active .reg-inner {
    border-color: white;
    color: white;
}

.txt-highlight a:hover {
    color: white;
}

.txt-pressed a:active {
    color: white;
}

/*----------------------------------- Footer -----------------------------------*/
.footer-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    height: 10rem;
    width: 100%;
    border-top: 3px solid #E1B87A;
    background-color: black;
}

.footer-content-container {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 10rem;
    height: auto;
    padding-right: 1rem;
    padding-left: 2rem;
}

.footer-logo img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.footer-link-container {
    display: flex;
    gap: 1rem;
}

.footer-link-container a {
    color: #E1B87A;
    text-decoration: none;
    transition: color 1s;
}

.footer-social-container {
    display: flex;
    justify-content: space-between;
    width: 7rem;
    height: auto;
    padding-right: 2rem;
    padding-left: 4rem;
}

.footer-social-container img {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.footer-copy-container {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1B87A;
}

.footer-copy-container p {
    font-size: 12px;
    color: black;
}

/*-------------------------------- Default View --------------------------------*/
/*--------------------------------- Isle Page ---------------------------------*/
body{
    margin: 0;
    font-family: 'Merriweather';
    -webkit-tap-highlight-color: transparent;
    background-color: #010101;
    color: #eee;
}

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

html, 
body{
    scroll-behavior: smooth;
}

.bg-img {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -3;
    background-color: black;
}

.bg-img img {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.2;
}

.bg-img video {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 1;
}

.page-first{
    position: relative;
    height: 100vh;
    /* background-image: url(image/bg.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

.page-first-bg {
    position: absolute;
    top: 0px;
    mask-image: linear-gradient(to top, transparent 2%, black 25%, black 100%);
    height: 50%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.page-first-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.header__container {
    position: relative;
    isolation: isolate;
    height: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-tagline {
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 600;
    color: #E1B87A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #E1B87A;
}  

.section-desc {
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #E1B87A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 5px #E1B87A;
}

.scroll-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-button-inner {
    padding: 1rem 0.3rem;
    background-color: #E1B87A;
    cursor: pointer;
    transition: all 0.7s;
}

.scroll-button-inner a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: 2px solid black;
    transition: all 0.7s;
}

.scroll-button-inner:hover {
    box-shadow: 0 0 50px #E1B87A;
}

.arrows button {
    display: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

.content a {
    color: black;
    transition: all 0.7s;
}
  
.content a:hover {
    border-color: white;
    color: white;
}

.slider{
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 100%);
    height: 100vh;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: white;
    text-shadow: 0px 0px 15px black;
    /* -webkit-text-stroke-width: 0.3px; */
    /* -webkit-text-stroke-color: black; */
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 40px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 2;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}

.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 100px;
    height: 75px;
    /* filter: brightness(.5); */
    transition: .5s;
    flex-shrink: 0;
    border: 2px solid #E1B87A;
    filter: grayscale(1);
    cursor: pointer;
    transition: all 0.3s;
}

.thumbnail .item:hover {
    filter: grayscale(0);
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}
.thumbnail .item.active{
    filter: grayscale(0);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
    color: white;
    text-shadow: 0px 0px 5px black;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

/*--------------------------------- Misc View ---------------------------------*/
@media only screen and (max-width: 950px) {
    /*--------- Footer ---------*/
    .footer-logo {
        width: 8rem;
    }
    
    .footer-link-container {
        gap: 0.5rem;
    }
    
    .footer-link-container a {
        font-size: 14px;
    }
    
    .footer-social-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .footer-social-container img {
        width: 1.5rem;
        height: 1.5rem;
    }
    /*--------------------------*/

}

/*-------------------------------- Tablet View --------------------------------*/
@media only screen and (max-width: 840px) {
    /*--------- Nav Bar ---------*/
    .navbar-container {
        background: linear-gradient(to bottom, black, transparent);
    }
    
    .navbar-logo img {
        width: 10rem;
        margin-left: 1rem;
    }
    
    .btn-container, .navbar-container .reg-container {
        display: none;
    }

    .mobile-nav-btn {
        display: flex;
    }

    .mobile-navbar-container {
        display: flex;
        transform: translateY(-100%);
        transition: transform 0.5s;
    }

    .mobile-navbar-container[data-visible="true"] {
        transform: translateY(0%);
    }
    /*---------------------------*/
    
    /*--------- Footer ---------*/
    .footer-container {
        grid-template-rows: 85% 15%;
        height: 15rem;
    }
    
    .footer-content-container {
        flex-direction: column;
    }
    
    .footer-logo {
        width: 14rem;
        padding: 1rem 0rem 1rem 0rem;
    }
    
    .footer-link-container {
        gap: 0.85rem;
    }
    
    .footer-link-container a {
        font-size: 13px;
    }
    
    .footer-social-container {
        width: 9rem;
        padding: 0rem 0rem 1rem 0rem;
    }
    
    .footer-social-container img {
        width: 2rem;
        height: 2rem;
    }
    /*---------------------------*/
}

@media screen and (max-width: 820px) {
    .section-tagline {
        font-size: 2rem;
    }

    .section-desc {
        font-size: 1.2rem;
    }

    .slider .list .item .content {
        left: 5%;
        top: 15%;
        width: 300px;
    }

    .slider .list .item .content h2 {
        font-size: 24px;
    }

    .thumbnail {
        padding: 0 20px;
        height: 60px;
    }

    .thumbnail .item {
        width: 60px;
        height: 56.25px;
    }
}

/*-------------------------------- Phone View --------------------------------*/
@media screen and (max-width: 480px) {
    .section-tagline {
        font-size: 1.5rem;
    }

    .section-desc {
        font-size: 1rem;
    }

    .scroll-button-inner a {
        font-size: 0.5rem;
    }
    
    .scroll-button-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
    }

    .slider{
        mask-image: linear-gradient(to bottom, transparent, black 10%, black 100%);
    }

    .slider .list .item .content {
        left: 3%;
        top: 10%;
        width: 250px;
    }

    .slider .list .item .content h2 {
        font-size: 20px;
    }

    .thumbnail {
        padding: 0 10px;
        height: 50px;
    }

    .thumbnail .item {
        width: 50px;
        height: 46.25px;
    }
}
